In [1]:
import pandas as pd
import matplotlib.pylab as plt
import string

In [5]:
tab1 = "./jht+right.txt"
print(tab1)

./jht+right.txt

In [34]:
df_hd = pd.read_table(tab1, sep='|', header=None)

In [35]:
df_hd.head()

    0         1         2  3
0  65  2.647056  3.044114  0
1  67  3.088232  3.485290  0
2  69  3.529408  4.323525  0
3  69  4.411760  4.808818  0
4  72  4.852936  5.249994  0

In [39]:
note = df_hd[0]
print(note)

0      65
1      67
2      69
3      69
4      72
       ..
219    60
220    65
221    69
222    77
223    72
Name: 0, Length: 224, dtype: int64

In [38]:
print(note.stack())

AttributeError: 'Series' object has no attribute 'stack'

In [31]:
note.to_csv("./input.txt", index=False, header=False)

In [98]:
df_hd2 = pd.read_table("./output0.txt", sep=',', header=None)

In [99]:
df_hd2.to_csv("./output0_right.txt", sep='|', index=False, header=False)

In [65]:
df_hd2.head()

,0,1,2,3,4,5,6,7,8,9,...,214,215,216,217,218,219,220,221,222,223
0,2,1,2,1,3,4,1,3,2,1,...,5,2,3,2,1,1,2,4,5,2

In [60]:
#f2 = open("input.txt","w")
#f = open("input0.txt","r")
res=[]
#bian li wenjian,bing xie ru xin wen jian
for index,row in df_hd.iterrows():
    #line=line.strip('\n')
    res.append(int(row[0]))

In [61]:
print(res)

[65, 67, 69, 69, 72, 74, 74, 81, 79, 77, 77, 74, 72, 74, 72, 72, 69, 67, 65, 62, 65, 67, 65, 67, 69, 69, 72, 74, 74, 81, 79, 77, 77, 79, 77, 72, 72, 69, 76, 77, 65, 67, 69, 67, 65, 65, 69, 69, 67, 69, 69, 72, 69, 67, 69, 65, 65, 67, 69, 72, 69, 67, 67, 65, 67, 69, 72, 69, 74, 72, 74, 72, 72, 69, 72, 60, 69, 67, 69, 72, 69, 67, 67, 67, 65, 67, 65, 72, 69, 69, 67, 69, 69, 72, 69, 67, 69, 65, 65, 67, 69, 72, 69, 67, 67, 65, 67, 69, 72, 69, 74, 72, 74, 72, 72, 69, 72, 69, 67, 69, 72, 69, 67, 67, 65, 62, 65, 70, 65, 70, 64, 67, 72, 65, 67, 69, 69, 72, 74, 74, 81, 79, 77, 77, 74, 72, 74, 72, 69, 67, 65, 62, 65, 67, 67, 65, 67, 65, 67, 69, 69, 72, 74, 74, 81, 79, 77, 77, 79, 77, 72, 72, 69, 76, 77, 65, 67, 69, 67, 65, 60, 65, 67, 69, 72, 74, 77, 79, 81, 77, 79, 72, 77, 79, 81, 84, 79, 81, 77, 60, 65, 67, 69, 72, 74, 77, 79, 81, 77, 79, 72, 77, 79, 81, 84, 79, 81, 77, 57, 60, 65, 69, 77, 72]

In [66]:
list=df_hd2.ix[0]
print(list)

0      2
1      1
2      2
3      1
4      3
      ..
219    1
220    2
221    4
222    5
223    2
Name: 0, Length: 224, dtype: int64

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [68]:
df_hd.to_csv("./input.csv", index=False, header=False)

In [69]:
list.to_csv("./output.csv", index=False, header=False)

In [102]:
res = pd.read_csv("./res_right.csv", header=None)

In [103]:
res.head()

    0         1         2  3
0  65  2.647056  3.044114  2
1  67  3.088232  3.485290  1
2  69  3.529408  4.323525  2
3  69  4.411760  4.808818  1
4  72  4.852936  5.249994  3

In [104]:
res.to_csv("./right_test.txt", sep='|', index=False, header=False, float_format = '%.6f')

In [79]:
tab2 = "./jht+left.txt"
print(tab2)
df_hd2 = pd.read_table(tab2, sep='|', header=None)
df_hd2.head()

./jht+left.txt

    0         1         2  3
0  57  3.419114  5.007348  0
1  53  3.474261  5.062495  0
2  48  3.529408  5.117642  0
3  59  5.183818  6.772052  0
4  53  5.238965  6.827199  0

In [80]:
res=[]
for index,row in df_hd2.iterrows():
    res.append(int(row[0]))
print(res)

[57, 53, 48, 59, 53, 50, 58, 53, 49, 57, 53, 48, 55, 50, 46, 45, 48, 53, 43, 46, 50, 36, 41, 48, 57, 47, 53, 62, 46, 53, 62, 46, 53, 61, 45, 52, 60, 50, 57, 62, 43, 50, 58, 50, 48, 55, 58, 60, 41, 48, 57, 58, 55, 41, 48, 57, 58, 55, 53, 60, 65, 52, 60, 64, 50, 57, 65, 48, 57, 64, 46, 53, 62, 58, 45, 53, 60, 43, 50, 58, 55, 48, 55, 64, 50, 57, 65, 62, 45, 53, 60, 46, 53, 62, 58, 45, 53, 57, 43, 53, 55, 58, 62, 48, 55, 60, 62, 60, 62, 53, 60, 65, 52, 60, 64, 50, 57, 65, 48, 57, 64, 46, 53, 62, 58, 45, 53, 60, 43, 50, 58, 55, 48, 55, 64, 50, 57, 65, 62, 45, 53, 60, 46, 53, 62, 58, 45, 53, 60, 43, 50, 58, 48, 55, 58, 64, 41, 48, 53, 55, 57, 60, 65, 67, 46, 53, 58, 53, 48, 55, 60, 55, 41, 48, 57, 53, 47, 53, 62, 46, 53, 62, 53, 45, 53, 60, 53, 43, 50, 58, 50, 45, 53, 60, 53, 46, 55, 62, 55, 48, 55, 60, 55, 41, 48, 57, 53, 47, 53, 62, 46, 53, 58, 61, 65, 45, 52, 57, 52, 38, 45, 50, 53, 43, 50, 58, 50, 36, 43, 48, 52, 41, 48, 55, 57, 48, 55, 57, 47, 50, 55, 59, 50, 55, 59, 46, 49, 55, 58, 49, 55, 58, 41, 48, 53, 57, 48, 53, 57, 50, 57, 62, 57, 65, 57, 62, 57, 47, 50, 55, 50, 59, 50, 55, 50, 46, 49, 55, 49, 58, 49, 55, 49, 41, 48, 53, 55]

In [84]:
list=df_hd_left.ix[0]
print(list)

0      5
1      3
2      1
3      5
4      4
      ..
282    2
283    1
284    2
285    4
286    5
Name: 0, Length: 287, dtype: int64

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [85]:
list.to_csv("./output_left.csv", index=False, header=False)

In [86]:
df_hd2.to_csv("./input_left.csv", index=False, header=False)

In [94]:
res_left = pd.read_csv("./res_left.csv", header=None)

In [97]:
print(res_left)

      0           1           2   3
0    57    3.419114    5.007348   6
1    53    3.474261    5.062495   8
2    48    3.529408    5.117642  10
3    59    5.183818    6.772052   6
4    53    5.238965    6.827199   7
..   ..         ...         ...  ..
282  49  151.323368  151.720426   9
283  41  151.764544  152.161602  10
284  48  152.205720  152.602778   9
285  53  152.646896  153.043954   7
286  55  153.088072  153.485130   6

[287 rows x 4 columns]

In [100]:
res_left.to_csv("./left_test.txt", sep='|', index=False, header=False, float_format = '%.6f')

In [ ]:
DreamWedding

In [4]:
import pandas as pd
import matplotlib.pylab as plt
import string

In [5]:
tab3 = "./DreamWedding_left.txt"
print(tab3)

./DreamWedding_left.txt

In [6]:
df_hd3 = pd.read_table(tab3, sep='|', header=None)
df_hd3.head()

    0         1         2
0  43  0.000000  0.413194
1  50  0.416666  0.829861
2  58  0.833333  1.246527
3  50  1.249999  1.444444
4  58  1.666666  2.079860

In [16]:
df_hd3.to_csv("./output3_0.csv", index=False, header=False)

In [13]:
res=[]
for index,row in df_hd3.iterrows():
    res.append(int(row[0]))
print(res)

[43, 50, 58, 50, 58, 50, 58, 50, 43, 50, 58, 50, 58, 50, 55, 58, 48, 55, 63, 55, 60, 63, 41, 48, 57, 48, 57, 48, 57, 46, 53, 58, 50, 54, 60, 43, 50, 58, 50, 58, 50, 43, 50, 58, 48, 55, 60, 55, 60, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 50, 58, 50, 43, 50, 58, 48, 55, 63, 55, 60, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 48, 55, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 45, 51, 55, 50, 57, 66, 43, 50, 58, 48, 55, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 48, 55, 63, 41, 48, 57, 43, 50, 55, 58, 55, 50, 43, 50, 55, 58, 55, 58, 48, 55, 60, 63, 60, 55, 41, 48, 53, 57, 53, 48, 46, 53, 58, 62, 46, 53, 43, 50, 55, 58, 55, 58, 48, 55, 60, 63, 60, 55, 41, 48, 53, 57, 43, 50, 58, 62, 67, 70, 43, 50, 58, 50, 58, 50, 43, 50, 58, 48, 55, 63, 55, 60, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 50, 58, 50, 43, 50, 58, 48, 55, 63, 55, 60, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 48, 55, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 48, 55, 63, 41, 48, 57, 43, 50, 55, 58, 55, 50, 43, 50, 55, 58, 55, 58, 48, 55, 60, 63, 60, 55, 41, 48, 53, 57, 53, 57, 46, 53, 58, 62, 46, 53, 43, 50, 55, 58, 55, 58, 48, 55, 60, 63, 60, 55, 41, 48, 53, 57, 43, 50, 58, 62, 67, 70, 43, 50, 58, 50, 58, 50, 55, 58, 48, 55, 63, 55, 60, 63, 41, 48, 57, 48, 57, 48, 57, 46, 53, 58, 50, 54, 60, 43, 50, 58, 50, 58, 50, 43, 50, 58, 48, 55, 60, 55, 60, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 50, 58, 50, 43, 50, 58, 48, 55, 63, 55, 60, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 48, 55, 63, 41, 48, 57, 46, 53, 45, 43, 50, 58, 48, 55, 63, 41, 48, 57, 43, 50, 55, 58, 55, 50, 43, 50, 55, 58, 55, 58, 48, 55, 60, 63, 60, 55, 41, 48, 53, 57, 53, 57, 46, 53, 58, 62, 46, 53, 43, 50, 55, 58, 55, 58, 48, 55, 60, 63, 60, 55, 41, 48, 53, 57, 53, 57, 43, 50, 55, 58, 55, 50, 43, 50, 55, 58, 55, 58, 48, 55, 60, 63, 60, 55, 41, 48, 53, 57, 53, 57, 46, 53, 58, 62, 46, 53, 43, 50, 55, 58, 55, 58, 48, 55, 60, 63, 60, 55, 41, 48, 53, 57, 43, 50, 57, 58]

In [18]:
df_hd3_1 = pd.read_table("./output3.txt", sep=',', header=None)
df_hd3_1.head()

,0,1,2,3,4,5,6,7,8,9,...,464,465,466,467,468,469,470,471,472,473
0,1,2,5,1,5,1,5,3,1,2,...,3,2,1,2,4,5,1,2,4,5

In [20]:
list=df_hd3_1.ix[0]
print(list)

0      1
1      2
2      5
3      1
4      5
      ..
469    5
470    1
471    2
472    4
473    5
Name: 0, Length: 474, dtype: int64

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [21]:
list.to_csv("./output3_1.csv", index=False, header=False)

In [23]:
wed_left = pd.read_csv("./output3.csv", header=None)
print(wed_left)
wed_left.to_csv("./wedding_left.txt", sep='|', index=False, header=False, float_format = '%.6f')

      0           1           2   3
0    43    0.000000    0.413194   6
1    50    0.416666    0.829861   7
2    58    0.833333    1.246527  10
3    50    1.249999    1.444444   6
4    58    1.666666    2.079860  10
..   ..         ...         ...  ..
469  57  154.758132  155.719649  10
470  43  155.725463  156.265981   6
471  50  156.270367  156.824780   7
472  57  156.829682  157.442834   9
473  58  157.448648  160.724668  10

[474 rows x 4 columns]

In [24]:
tab4 = "./DreamWedding_right.txt"
print(tab4)

./DreamWedding_right.txt

In [25]:
df_hd4 = pd.read_table(tab4, sep='|', header=None)
df_hd4.head()

    0         1         2
0  79  3.124999  3.312499
1  79  3.333332  3.547100
2  81  3.550723  3.764491
3  81  3.768114  3.981883
4  82  3.985506  4.199274

In [26]:
df_hd4.to_csv("./output4_0.csv", index=False, header=False)

In [27]:
res=[]
for index,row in df_hd4.iterrows():
    res.append(int(row[0]))
print(res)

[79, 79, 81, 81, 82, 82, 81, 81, 79, 79, 74, 74, 70, 70, 67, 67, 77, 77, 75, 75, 74, 75, 77, 75, 77, 75, 75, 75, 77, 77, 79, 79, 81, 81, 77, 77, 72, 72, 75, 75, 74, 74, 72, 74, 75, 74, 86, 74, 67, 70, 74, 72, 74, 67, 70, 74, 72, 74, 67, 70, 75, 74, 75, 67, 70, 75, 74, 75, 75, 74, 75, 76, 77, 77, 79, 77, 79, 74, 86, 79, 82, 86, 84, 86, 79, 82, 86, 84, 86, 79, 82, 87, 86, 87, 79, 82, 87, 86, 87, 87, 86, 87, 88, 89, 89, 91, 89, 91, 86, 82, 74, 74, 75, 75, 72, 81, 79, 81, 72, 72, 74, 74, 70, 70, 79, 77, 79, 70, 70, 72, 72, 69, 74, 72, 74, 82, 82, 82, 84, 84, 82, 81, 79, 77, 77, 79, 77, 74, 82, 82, 82, 82, 84, 84, 82, 81, 79, 77, 77, 79, 77, 79, 94, 82, 94, 82, 94, 82, 94, 82, 96, 84, 96, 84, 94, 82, 93, 81, 91, 79, 89, 77, 89, 77, 91, 79, 89, 77, 86, 74, 94, 82, 94, 82, 94, 82, 94, 82, 96, 84, 96, 84, 94, 82, 93, 81, 91, 79, 89, 77, 89, 77, 91, 79, 89, 77, 79, 91, 74, 67, 70, 74, 72, 74, 67, 70, 74, 72, 74, 67, 70, 75, 74, 75, 67, 70, 75, 74, 75, 75, 74, 75, 76, 77, 77, 79, 77, 79, 74, 86, 79, 82, 86, 84, 86, 79, 82, 86, 84, 86, 79, 82, 87, 86, 87, 79, 82, 87, 86, 87, 87, 86, 87, 88, 89, 89, 91, 89, 91, 86, 82, 82, 82, 84, 84, 82, 81, 79, 77, 77, 79, 77, 74, 82, 82, 82, 82, 84, 84, 82, 81, 79, 77, 77, 79, 77, 79, 94, 82, 94, 82, 94, 82, 94, 82, 96, 84, 96, 84, 94, 82, 93, 81, 91, 79, 89, 77, 89, 77, 91, 79, 89, 77, 86, 74, 94, 82, 94, 82, 94, 82, 94, 82, 96, 84, 96, 84, 94, 82, 93, 81, 91, 79, 89, 77, 89, 77, 91, 79, 89, 77, 79, 91, 79, 79, 81, 81, 82, 82, 81, 81, 79, 79, 74, 74, 70, 70, 67, 67, 77, 77, 75, 75, 74, 75, 77, 75, 77, 75, 75, 75, 77, 77, 79, 79, 81, 81, 77, 77, 72, 72, 75, 75, 74, 74, 72, 74, 75, 74, 86, 74, 67, 70, 74, 72, 74, 67, 70, 74, 72, 74, 67, 70, 75, 74, 75, 67, 70, 75, 74, 75, 75, 74, 75, 76, 77, 77, 79, 77, 79, 74, 86, 79, 82, 86, 84, 86, 79, 82, 86, 84, 86, 79, 82, 87, 86, 87, 79, 82, 87, 86, 87, 87, 86, 87, 88, 89, 89, 91, 89, 91, 86, 82, 82, 82, 84, 84, 82, 81, 79, 77, 77, 79, 77, 74, 82, 82, 82, 82, 84, 84, 82, 81, 79, 77, 77, 79, 77, 79, 94, 82, 94, 82, 94, 82, 94, 82, 96, 84, 96, 84, 94, 82, 93, 81, 91, 79, 89, 77, 89, 77, 91, 79, 89, 77, 86, 74, 94, 82, 94, 82, 94, 82, 94, 82, 96, 84, 96, 84, 94, 82, 93, 81, 91, 79, 89, 77, 89, 77, 91, 79, 89, 77, 79, 91, 94, 82, 94, 82, 94, 82, 94, 82, 96, 84, 96, 84, 94, 82, 93, 81, 91, 79, 89, 77, 89, 77, 91, 79, 89, 77, 86, 74, 94, 82, 94, 82, 94, 82, 94, 82, 96, 84, 96, 84, 94, 82, 93, 81, 91, 79, 89, 77, 89, 77, 91, 79, 89, 77, 79, 91, 67]

In [28]:
df_hd4_1 = pd.read_table("./output4.txt", sep=',', header=None)
df_hd4_1.head()

,0,1,2,3,4,5,6,7,8,9,...,602,603,604,605,606,607,608,609,610,611
0,1,1,2,1,2,2,1,4,3,3,...,1,5,1,5,1,5,1,2,5,1

In [29]:
list=df_hd4_1.ix[0]
print(list)

0      1
1      1
2      2
3      1
4      2
      ..
607    5
608    1
609    2
610    5
611    1
Name: 0, Length: 612, dtype: int64

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [30]:
list.to_csv("./output4_1.csv", index=False, header=False)

In [31]:
wed_right = pd.read_csv("./output4.csv", header=None)
print(wed_right)
wed_right.to_csv("./wedding_right.txt", sep='|', index=False, header=False, float_format = '%.6f')

      0           1           2  3
0    79    3.124999    3.312499  1
1    79    3.333332    3.547100  1
2    81    3.550723    3.764491  2
3    81    3.768114    3.981883  1
4    82    3.985506    4.199274  2
..   ..         ...         ... ..
607  89  155.383893  155.719649  5
608  77  155.383893  155.719649  1
609  79  155.725463  157.442834  2
610  91  156.006269  157.442834  5
611  67  157.448648  160.724668  1

[612 rows x 4 columns]